<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6Np78TlaFKTYVD4UDwSCMKCvIsow5M5U</string>
	<key>GCM_SENDER_ID</key>
	<string>770778180305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psycredinnovation.pawple</string>
	<key>PROJECT_ID</key>
	<string>pawple-m-v-p-5igl3e</string>
	<key>STORAGE_BUCKET</key>
	<string>pawple-m-v-p-5igl3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770778180305:ios:82cb33cc2f277b1a96b3f0</string>
</dict>
</plist>